*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
img{
    width: 30px;
}

body{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5,1fr);
}

header{
    grid-area: 1 / 2 / 2 / -1;
    padding: 0 2vw;
}
.top{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top>*{
    display: flex;
    align-items: center;
    gap: 1vw;
}
.top input{
    width: 40vw;
}
.top .prof-pic{
    width: 50px;
    border-radius: 50%;
}
.bottom{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bottom>*{
    display: flex;
    align-items: center;
    gap: 1vw;
}
.bottom .prof-pic{
    width: 80px;
    border-radius: 50%;
}
.bottom .acc-name{
    font-size: 2rem;
    font-weight: 600;
}
.bottom button{
    background-color: #1992d4;
    width: 6vw;
    height: 5vh;
    border: none;
    border-radius: 40px;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
}

aside{
    background-color: #1992d4;
    grid-area: 1 / 1 / -1 / 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr 5fr;
    gap: 1vw;
    padding: 1vw;
}
aside .DBWrapper{
    display: flex;
    align-items: center;
    gap: 1vw;
    color: #fff;
}
aside .DBWrapper img{
    width: 50px;
}
aside ul li{
    display: flex;
    align-items: center;
    gap: 1vw;
    color: #fff;
    font-size: 2rem;
    padding: 10px;
}

main{
    background-color: #e2e8f0;
    grid-area: 2 / 2 / -1 / -1;
}